# Created by .gitignore support plugin (hsz.mobi)
stealth-core/stealth-core.iml
atlassian-ide-plugin.xml
.idea
stealth-jar-signing/stealth-jar-signing.iml
stealth-si-process/stealth-si-process.iml
stealth.iml
stealth-maven-skin/stealth-maven-skin.iml
stealth-maven-skin
src/site/site.xml
stealth-maven-skin/src
stealth-maven-skin/pom.xml
stealth-si-subversion/stealth-si-subversion.iml
stealth-samples/stealth-samples.iml
stealth-jenkins/stealth-jenkins.iml
stealth-jar-signing-mongodb/stealth-jar-signing-mongodb.iml