# Created by .gitignore support plugin (hsz.mobi)
stealth-core/stealth-core.iml
atlassian-ide-plugin.xml
.idea
stealth-jar-signing/stealth-jar-signing.iml
stealth-si-process/stealth-si-process.iml
stealth.iml
stealth-maven-skin
src/site/site.xml
stealth-si-subversion/stealth-si-subversion.iml
stealth-samples/stealth-samples.iml
stealth-jenkins/stealth-jenkins.iml
stealth-jar-signing-mongodb/stealth-jar-signing-mongodb.iml
stealth-artifact-transport-rabbitmq/stealth-artifact-transport-rabbitmq.iml
stealth-maven-plugin-parent/stealth-maven-plugin-parent.iml
stealth-maven-plugin/stealth-maven-plugin.iml
stealth-si-core/stealth-si-core.iml
stealth-jenkins-plugin/stealth-jenkins-plugin.iml
stealth-spring-rmi/stealth-spring-rmi.iml
stealth-configuration/stealth-configuration.iml
stealth-amqp-support/stealth-amqp-support.iml
stealth-jenkins-plugin/work
stealth-messaging/stealth-messaging.iml